* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .title img {
  width: 45%;
  margin: 25px auto 15px;
}
header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(234, 234, 234);
  height: 50px;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(97, 90, 90, 0.339);
          box-shadow: 2px 2px 15px 5px rgba(97, 90, 90, 0.339);
  position: relative;
}
header .location i {
  font-size: 17px;
}
header .location h2 {
  padding-left: 15px;
  font-weight: 600;
  font-size: 16px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: rgb(246, 246, 246);
  padding: 40px 0;
}
.section1 h2 {
  width: 246px;
  margin: 0 auto;
  font-weight: 900;
}
.section1 h3 {
  font-weight: 100;
  padding: 15px 0 25px;
}
.section1 button.discover {
  width: 225px;
  height: 50px;
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  border: none;
  background: rgb(147, 86, 220);
  background: linear-gradient(6deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%, rgb(153, 226, 208) 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(54, 54, 54, 0.66);
  box-shadow: 2px 2px 15px 5px rgba(54, 54, 54, 0.263);
}
.section1 button.discover:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.section2 .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.section2 .buttonContainer .choice {
  position: relative;
  width: 330px;
  height: 70px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(196, 184, 184, 0.507);
  box-shadow: 2px 2px 15px 5px rgba(54, 54, 54, 0.154);
  font-size: 16px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .buttonContainer .choice p {
  width: 186px;
  text-align: left;
}
.section2 .buttonContainer .choice i {
  font-size: 20px;
}
.section2 h2 {
  padding: 50px 25px 30px;
}
.section2 span {
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  background: #9356DC;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 {
  background: rgb(246, 246, 246);
}
.section3 .cards {
  width: 90%;
  border-radius: 15px;
  margin: 30px auto;
}
.section3 .cards .img1 {
  background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) bottom/cover no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.section3 .cards .img2 {
  background: url(/assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.section3 .cards .img3 {
  background: url(/assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) bottom/cover no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.section3 .cards .img4 {
  background: url(/assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) bottom/cover no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.section3 .cards .cardTitle {
  background: white;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  padding: 20px 10px;
}
.section3 .cards .cardTitle .cardText h3 {
  padding-bottom: 5px;
}
.section3 .cards .cardTitle .cardHeart {
  padding-right: 40px;
}
.section3 .cards .cardTitle .cardHeart i {
  font-size: 25px;
  position: absolute;
}
.section3 .cards .cardTitle .cardHeart .fa-solid {
  opacity: 0;
}
.section3 .cards .cardTitle .cardHeart .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(6deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%, rgb(153, 226, 208) 100%);
}/*# sourceMappingURL=index.css.map */