@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}
* a {
  text-decoration: none;
  color: black;
}

.animLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-animation: loader 3s ease-in-out forwards;
          animation: loader 3s ease-in-out forwards;
  z-index: 100;
}
@-webkit-keyframes loader {
  90% {
    background: white;
  }
  100% {
    background: none;
  }
}
@keyframes loader {
  90% {
    background: white;
  }
  100% {
    background: none;
  }
}
.animLoader .loader {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 150;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: stop ease-in-out 3s forwards;
          animation: stop ease-in-out 3s forwards;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@-webkit-keyframes stop {
  to {
    display: none;
  }
}
@keyframes stop {
  to {
    display: none;
  }
}
.animLoader .loaderElement {
  margin: 1px;
}
.animLoader .loaderElement {
  background-color: rgb(153, 226, 208);
  height: 50px;
  width: 20px;
  border-radius: 5px 5px 10px 10px;
  position: relative;
}
.animLoader .loaderElement::after {
  content: "";
  border-radius: 151px 151px 101px 100px;
  -webkit-border-radius: 151px 151px 101px 100px;
  -moz-border-radius: 151px 151px 101px 100px;
  width: 15px;
  height: 15px;
  background: white;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.animLoader .loaderElement::before {
  content: "";
  border-top: thick double white;
  border-radius: 5px;
  width: 10px;
  position: absolute;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.loaderElement:nth-child(1) {
  -webkit-animation: handAnim 1.5s ease-in-out infinite;
          animation: handAnim 1.5s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.loaderElement:nth-child(1)::before {
  top: 10%;
  right: 30%;
}
.loaderElement:nth-child(1)::after {
  top: 75%;
  left: 50%;
}

.loaderElement:nth-child(2) {
  height: 60px;
  -webkit-animation: handAnim 1.5s ease-in-out infinite;
          animation: handAnim 1.5s ease-in-out infinite;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.loaderElement:nth-child(2)::before {
  top: 10%;
  right: 30%;
}
.loaderElement:nth-child(2)::after {
  top: 80%;
  left: 50%;
}

.loaderElement:nth-child(3) {
  -webkit-animation: handAnim 1.5s ease-in-out infinite;
          animation: handAnim 1.5s ease-in-out infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  height: 70px;
}
.loaderElement:nth-child(3)::before {
  top: 10%;
  right: 30%;
}
.loaderElement:nth-child(3)::after {
  top: 83%;
  left: 50%;
}

.loaderElement:nth-child(4) {
  -webkit-animation: handAnim 1.5s ease-in-out infinite;
          animation: handAnim 1.5s ease-in-out infinite;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  height: 55px;
}
.loaderElement:nth-child(4)::before {
  top: 10%;
  right: 30%;
}
.loaderElement:nth-child(4)::after {
  top: 80%;
  left: 50%;
}

.loaderElement:nth-child(5) {
  height: 20px;
  border-radius: 96px 186px 66px 0px;
  -webkit-border-radius: 96px 186px 66px 0px;
  -moz-border-radius: 96px 186px 66px 0px;
}
.loaderElement:nth-child(5)::before {
  display: none;
}
.loaderElement:nth-child(5)::after {
  display: none;
}
@-webkit-keyframes handAnim {
  0% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes handAnim {
  0% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 0;
  }
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .title i {
  padding-left: 30px;
  position: absolute;
  font-size: 20px;
}
header .title img {
  width: 200px;
  margin: 25px auto 15px;
}
@media screen and (min-width: 1400px) {
  header .title img {
    margin: 30px auto 30px;
  }
}
header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(234, 234, 234);
  height: 50px;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(97, 90, 90, 0.339);
          box-shadow: 2px 2px 15px 5px rgba(97, 90, 90, 0.339);
  position: relative;
}
header .location i {
  font-size: 17px;
}
header .location h2 {
  padding-left: 15px;
  font-weight: 600;
  font-size: 16px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: rgb(246, 246, 246);
  padding: 40px 0;
}
.section1 h1 {
  width: 246px;
  margin: 0 auto;
  font-weight: 900;
  font-size: calc(22px + 0.95vw);
}
@media screen and (min-width: 1400px) {
  .section1 h1 {
    width: 100%;
  }
}
.section1 h3 {
  font-weight: 100;
  padding: 15px 0 25px;
}
.section1 button.discover {
  width: 225px;
  height: 50px;
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: rgb(147, 86, 220);
  background: linear-gradient(6deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%, rgb(153, 226, 208) 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(54, 54, 54, 0.66);
  box-shadow: 2px 2px 15px 5px rgba(54, 54, 54, 0.263);
}
.section1 button.discover:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.section2 .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1400px) {
  .section2 .buttonContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    width: 1100px;
    gap: 30px;
  }
}
.section2 .buttonContainer .choice {
  position: relative;
  width: 330px;
  height: 70px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(196, 184, 184, 0.507);
  box-shadow: 2px 2px 15px 5px rgba(54, 54, 54, 0.154);
  font-size: 16px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section2 .buttonContainer .choice p {
  width: 186px;
  text-align: left;
}
.section2 .buttonContainer .choice i {
  font-size: 20px;
}
.section2 h2 {
  padding: 50px 25px 30px;
}
@media screen and (min-width: 1400px) {
  .section2 h2 {
    padding-left: 370px;
  }
}
.section2 span {
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  background: #9356DC;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section2 i.fa-solid.fa-mobile-screen-button, .section2 i.fa-solid.fa-list-ul {
  color: #7e7e7e;
}
.section2 i.fa-solid.fa-store {
  color: #9356dc;
}

.section3 {
  background: rgb(246, 246, 246);
  margin-top: 50px;
  padding-top: 60px;
}
@media screen and (min-width: 1400px) {
  .section3 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
    margin: 0 auto;
  }
}
.section3 h2 {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .section3 h2 {
    width: 1050px;
  }
}
.section3 .cards {
  width: 90%;
  border-radius: 15px;
  margin: 30px auto;
}
.section3 .cards .img1 {
  background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) bottom/cover no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.section3 .cards .img1 p {
  position: absolute;
  right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  width: 80px;
  height: 30px;
  color: rgb(18, 137, 108);
  background: rgb(144, 213, 196);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.section3 .cards .img2 {
  background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.section3 .cards .img2 p {
  position: absolute;
  right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  width: 80px;
  height: 30px;
  color: rgb(18, 137, 108);
  background: rgb(144, 213, 196);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.section3 .cards .img3 {
  background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) bottom/cover no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.section3 .cards .img4 {
  background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) bottom/cover no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.section3 .cards .cardTitle {
  background: white;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  padding: 20px 10px;
}
.section3 .cards .cardTitle .cardText h3 {
  padding-bottom: 5px;
}
.section3 .cards .cardTitle .cardHeart {
  padding-right: 40px;
}
.section3 .cards .cardTitle .cardHeart i {
  font-size: 25px;
  position: absolute;
}
.section3 .cards .cardTitle .cardHeart .fa-solid {
  opacity: 0;
}
.section3 .cards .cardTitle .cardHeart .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(6deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%, rgb(153, 226, 208) 100%);
}

footer {
  background: rgb(53, 53, 53);
  padding-bottom: 20px;
}
@media screen and (min-width: 1400px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .titleFooter {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
@media screen and (min-width: 1400px) {
  footer .titleFooter {
    width: 12%;
    padding-left: 60px;
  }
}
footer .titleFooter img {
  width: 100px;
}
footer .txtFooter {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  footer .txtFooter ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 1400px) {
  footer .txtFooter ul li {
    padding: 0 20px;
  }
}
footer .txtFooter i {
  font-size: 12px;
  width: 15px;
}
footer .txtFooter a {
  color: white;
  line-height: 25px;
}
footer .txtFooter span {
  margin-left: 10px;
}

section.background {
  background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}
@media screen and (min-width: 1400px) {
  section.background {
    height: 380px;
  }
}
section.background .titleMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 40px 40px 0 0;
  background: rgb(246, 246, 246);
  padding-top: 30px;
  position: absolute;
  width: 100%;
  bottom: -1px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  section.background .titleMenu {
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    width: 1050px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
section.background .titleMenu h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 200;
  font-size: 29px;
}
section.background .titleMenu i {
  font-size: 25px;
  position: absolute;
  right: 30px;
  padding-top: 10px;
}
@media screen and (min-width: 1400px) {
  section.background .titleMenu i {
    right: 320px;
  }
}
section.background .titleMenu .fa-solid {
  opacity: 0;
}
section.background .titleMenu .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(6deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%, rgb(153, 226, 208) 100%);
}

.containerMenu {
  background: rgb(246, 246, 246);
  padding-bottom: 10px;
  padding-top: 30px;
}
@media screen and (min-width: 1400px) {
  .containerMenu {
    width: 1050px;
    margin: 0 auto;
  }
}
.containerMenu section.entrees {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .containerMenu section.entrees {
    width: 640px;
  }
}
.containerMenu section.entrees h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: rgb(123, 123, 123);
  font-weight: 200;
  padding-top: 30px;
}
.containerMenu section.entrees h2:after {
  content: "";
  border-bottom: solid 3px rgb(153, 226, 208);
  display: block;
  width: 45px;
}
.containerMenu section.entrees .entree {
  height: 70px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(196, 184, 184, 0.507);
  box-shadow: 2px 2px 15px 5px rgba(54, 54, 54, 0.129);
  position: relative;
}
.containerMenu section.entrees .entree:hover .animation {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}
.containerMenu section.entrees .entree:hover .price {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.containerMenu section.entrees .entree:hover .entreeTxt p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
}
@media screen and (min-width: 1400px) {
  .containerMenu section.entrees .entree:hover .entreeTxt p {
    max-width: 400px;
  }
}
.containerMenu section.entrees .entree:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #99e2d0;
}
.containerMenu section.entrees .entree .animation {
  background: rgb(153, 226, 208);
  height: 100%;
  width: 60px;
  position: absolute;
  right: 0;
  border-radius: 0 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  visibility: hidden;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}
.containerMenu section.entrees .entree i {
  border-radius: 50%;
  background: white;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.containerMenu section.entrees .entree i:after {
  content: "";
}
.containerMenu section.entrees .entree .entreeTxt {
  padding-left: 15px;
  width: 100%;
}
.containerMenu section.entrees .entree .entreeTxt span {
  font-weight: 900;
  font-size: 19px;
  line-height: 30px;
}
.containerMenu section.entrees .entree .price {
  padding-right: 20px;
  padding-top: 40px;
  font-weight: 600;
  letter-spacing: 0.5px;
  height: 100%;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.buttonMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(246, 246, 246);
  padding: 20px;
}
@media screen and (min-width: 1400px) {
  .buttonMenu {
    width: 1050px;
    margin: 0 auto;
  }
}
.buttonMenu button.discoverMenu {
  width: 190px;
  height: 50px;
  border-radius: 40px;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: rgb(147, 86, 220);
  background: linear-gradient(6deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%, rgb(153, 226, 208) 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 2px 15px 5px rgba(54, 54, 54, 0.66);
  box-shadow: 2px 2px 15px 5px rgba(54, 54, 54, 0.263);
}
.buttonMenu button.discoverMenu:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.animEntree {
  -webkit-animation: apparition 1s ease-in-out forwards;
          animation: apparition 1s ease-in-out forwards;
}
@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animPlat {
  -webkit-animation: apparition 2s ease-in-out forwards;
          animation: apparition 2s ease-in-out forwards;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animDessert {
  -webkit-animation: apparition 3s ease-in-out forwards;
          animation: apparition 3s ease-in-out forwards;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section.backgroundNote {
  background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}
@media screen and (min-width: 1400px) {
  section.backgroundNote {
    height: 380px;
  }
}
section.backgroundNote .titleMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 40px 40px 0 0;
  background: rgb(246, 246, 246);
  padding-top: 30px;
  position: absolute;
  width: 100%;
  bottom: -1px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  section.backgroundNote .titleMenu {
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    width: 1050px;
  }
}
section.backgroundNote .titleMenu h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 200;
  font-size: 29px;
}
section.backgroundNote .titleMenu i {
  font-size: 25px;
  position: absolute;
  right: 30px;
  padding-top: 10px;
}
section.backgroundNote .titleMenu .fa-solid {
  opacity: 0;
}
section.backgroundNote .titleMenu .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(6deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%, rgb(153, 226, 208) 100%);
}

section.backgroundFrançaise {
  background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}
@media screen and (min-width: 1400px) {
  section.backgroundFrançaise {
    height: 380px;
  }
}
section.backgroundFrançaise .titleMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 40px 40px 0 0;
  background: rgb(246, 246, 246);
  padding-top: 30px;
  position: absolute;
  width: 100%;
  bottom: -1px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  section.backgroundFrançaise .titleMenu {
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    width: 1050px;
  }
}
section.backgroundFrançaise .titleMenu h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 200;
  font-size: 29px;
}
section.backgroundFrançaise .titleMenu i {
  font-size: 25px;
  position: absolute;
  right: 30px;
  padding-top: 10px;
}
section.backgroundFrançaise .titleMenu .fa-solid {
  opacity: 0;
}
section.backgroundFrançaise .titleMenu .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(6deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%, rgb(153, 226, 208) 100%);
}

section.backgroundDelice {
  background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center/cover no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}
@media screen and (min-width: 1400px) {
  section.backgroundDelice {
    height: 380px;
  }
}
section.backgroundDelice .titleMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 40px 40px 0 0;
  background: rgb(246, 246, 246);
  padding-top: 30px;
  position: absolute;
  width: 100%;
  bottom: -1px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  section.backgroundDelice .titleMenu {
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    width: 1050px;
  }
}
section.backgroundDelice .titleMenu h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 200;
  font-size: 29px;
}
section.backgroundDelice .titleMenu i {
  font-size: 25px;
  position: absolute;
  right: 30px;
  padding-top: 10px;
}
section.backgroundDelice .titleMenu .fa-solid {
  opacity: 0;
}
section.backgroundDelice .titleMenu .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(6deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%, rgb(153, 226, 208) 100%);
}/*# sourceMappingURL=index.css.map */