.section3{
    background:rgb(246,246,246) ;
    margin-top: 50px;
    padding-top: 60px;

    
.grid{
  @media screen and (min-width:1200px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1100px;
        margin: 0 auto;
    }  
}
    

    h2{
        width: 90%;
        margin: 0 auto;

        @media screen and (min-width:1200px) {
            width: 1050px;
        }
    }

    .cards{
        width: 90%;
        border-radius: 15px;
        margin: 30px auto;

        .img1{
            background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) bottom/cover no-repeat;
            background-size: cover;
            height: 175px;
            border-radius: 15px 15px 0 0;
            position: relative;

            p{
                position: absolute;
                right: 0;
                transform: translateX(-50%);
                margin-top: 20px;
                width: 80px;
                height: 30px;
                color: rgb(18,137,108);
                background: rgb(144,213,196);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: 0.5px;
            }
        }
        .img2{
            background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover no-repeat;
            background-size: cover;
            height: 175px;
            border-radius: 15px 15px 0 0;
            position: relative;

            p{
                position: absolute;
                right: 0;
                transform: translateX(-50%);
                margin-top: 20px;
                width: 80px;
                height: 30px;
                color: rgb(18,137,108);
                background: rgb(144,213,196);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: 0.5px;
            }
        }
        .img3{
            background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) bottom/cover no-repeat;
            background-size: cover;
            height: 175px;
            border-radius: 15px 15px 0 0;
        }
        .img4{
            background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) bottom/cover no-repeat;
            background-size: cover;
            height: 175px;
            border-radius: 15px 15px 0 0;
        }
        
        .cardTitle{
            background: white;
            height: 80px;
            display: flex;
            justify-content: space-between;
            border-radius:15px;
            padding: 20px 10px;
            .cardText{
               h3{
                padding-bottom: 5px;
               }
            }

// ******* Creation et hover sur le coeur ***** /
            .cardHeart{
                padding-right: 40px;
                i{
                    font-size: 25px;
                    position: absolute;
                }
                .fa-solid{
                    opacity: 0;
                    
                    
                    &:hover{
                        opacity:1;
                        color:transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        transition: all 0.4s ease-in-out;
                        background-image: linear-gradient(6deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%, rgba(153,226,208,1) 100%);
                        
                    }
                }
                
            }
        }
    }
}